/* correção para centralizar botão do google */
.g-signin2 {
    width: 100%;
}

.g-signin2 > div {
    margin: 0 auto;
}

body {
    font-size: 1.25rem;
    background-color: #f8f9fa;
}

.form-label {
    font-weight: 600;
}

.card {
    border-radius: 1rem;
}

.btns-painel {
    font-size: 1.25rem;
    padding: 0.75rem;
}

input.form-control {
    font-size: 1.25rem;
    padding: 0.75rem;
}

#mensagem {
    font-size: 1.1rem;
}

.destaque {
    background-color: #d4edda;
    transition: background-color 1s ease;
}

/* Efeito de hover nas linhas da tabela */
#tabela-alunos tr:hover {
    background-color: #f1f1f1; /* Cor clara quando passar o mouse */
    cursor: pointer; /* Indica que é clicável */
}
